name: Build and Deploy Spring Boot App

on:
  push:
    branches: [production]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Build with Maven
        run: | 
          set -e
          echo "Build starting..."
          mvn clean package -DskipTests
          echo "Build successful!"

      # not finding grep - test commit 1
      - name: Deploy to EC2
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          source: target/code-compiler-exe.jar
          target: /home/ec2-user/code-compiler-build

      - name: Restart app on EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            set -e
            sudo systemctl daemon-reload
            sudo systemctl restart code-compiler-exe.service