name: CI

on:
  push:
    branches: [production]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: adopt

      - name: Build with Maven
        run: |
          sudo apt-get update
          sudo apt-get install -y maven
          mvn clean package -DskipTests

      # - name: Run tests
      #   run: |
      #     mvn test

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /usr/src/app/code-lms-backend
            git pull
            mvn clean package -DskipTests
            systemctl restart code-compiler-exe
